.mywork{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 80px 7cqh;
}
.mywork-title{
    position: relative;
}
.mywork-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.mywork-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.mywork-container{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-left: -10px;
    transition: 0.25s;
}
.mywork-container img{
    box-sizing: border-box;
    width: 420px;
    height: 280px;
    transition: 0.25s;
    cursor: pointer;
}
.mywork-container img:hover{
    transform: scale(1.15);
    border-radius: 10px;
}
.mywork-showmore{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    border-radius: 50px;
    border: solid 2px white;
    padding: 30px 60px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.25s;
    cursor: pointer;
}
.mywork-showmore:hover{
    transform: scale(1.1);
}
@media(max-width:768px){
    .mywork{
        gap: 50px;
        margin: 50px 40px;
        align-items: start;
    }
    .mywork-title{
        margin-bottom: -60px;
    }
    .mywork-title h1{
        margin-left: -40px;
        padding: 0px;
        font-size: 50px;
        font-weight: 600;
        width: 390px;
    }
    .mywork-title img{
        width:130px;
        margin-right: -20px;
        margin-bottom: 5px;
    }
    .mywork-container{
        grid-template-columns: 1fr;
        gap: 50px;
        margin-top: 0px;
        transform: scale(0.9);
    }
    .mywork-container img{
        margin-left: -25px;
        aspect-ratio: auto;
    }
    .mywork-showmore{
        padding: 20px 40px;
        font-size: 18px;
        margin: 50px auto;
        margin-top: -60px;
        cursor: pointer;
    }
    .mywork-container img:hover{
        transform: scale3d(1);
        border-radius: 10px;
    }
}
