.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.contact-title{
    position: relative;
}
.contact-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.contact-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.contact-section{
    display: flex;
    gap: 150px;
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact-left h1{
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(200deg, #ff0303 45%, #eaff00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p{
    max-width: 550px;
    color: white;
    font-size: 20px;
    line-height: 35px;
}
.contact-details{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 20px;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
.contact-right label{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.contact-right input{
    width: 500px;
    height: 78px;
    font-family: 'work sans';
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding-left: 20px;
    background: #3c3b3b;
    color:white;
}
.contact-right textarea{
    width: 500px;
    height: 200px;
    font-family: 'work sans';
    font-size: 20px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    background: #3c3b3b;
    color: white;
}
.contact-submit{
    background: linear-gradient(200deg, #ff0303 45%, #eaff00);
    color: white;
    width: 130px;
    height: 50px;
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'work sans';
    font-weight: 400;
    transition: 0.25s;
}
.contact-submit:hover{
    cursor: pointer;
    transform: scale(1.1);
    font-weight: 500;
    transition: 0.25s;
}
@media(max-width:768px){
    .contact{
        gap: 50px;
        align-items: start;
        margin: 50px 20px;
    }
    .contact-title h1{
        font-size: 50px;
        margin-left: -40px;
    }
    .contact-title img{
        width: 120px;
        margin-bottom: 5px;
    }
    .contact-section{
        display: flex;
        flex-direction: column;
    }
    .contact-left h1{
        font-size: 50px;
        margin-top: -20px;
        margin-left: -5px;
    }
    .contact-left p{
        font-size: 18px;
        line-height: 25px;
        margin-top: -15px;
    }
    .contact-detail img{
        width: 30px;
        height:30px;
        margin-top: -10px;
    }
    .contact-right{
        margin-top: -60px;;
    }
    .contact-right input{
        height:40px;
        margin-top: -20px;
        width: 380px;
    }
    .contact-right textarea{
        height: 150px;
        width: 380px;
        margin-top: -20px;
    }
}