.name{
    display: flex;
    align-items: flex-start;
    justify-content: left;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
.navbar img{
    margin-bottom: 30px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    cursor: pointer;
    font-size: 20px;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    transition: 0.25s;
}
.nav-menu li:hover{
    transform: scale(1.15);
    font-weight: 500;
    transition: 0.25s;
}
.nav-menu li img{
    display: flex;
    margin: auto;
    transition: 0.25;
}
.anchor_link{
    text-decoration: none;
    color: white;
}
.nav-menu a{
    all:unset;
}