.name{
    display: flex;
    align-items: flex-start;
    justify-content: left;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    cursor: pointer;
    font-size: 20px;
}
.nav-menu li{
    transition: 0.25s;
}
.nav-menu li:hover{
    transform: scale(1.15);
    font-weight: 500;
    transition: 0.25s;
    background: linear-gradient(200deg, #ff0303 45%, #eaff00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-connect{
    padding: 20px;
    border-radius: 50px;
    border: 2px solid black;
    background: linear-gradient(200deg, #ff0303 45%, #eaff00);
    font-size: 26px;
    cursor: pointer;
    transition: 0.25s;
}
.nav-connect:hover{
    transform: scale(1.05);
    border:2px solid white;
}